.navContainer{
    z-index: 100;
    background-color:#20243c;
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;
    display:flex;
    flex-direction: column;
    align-items: center;
    width: 70px;
    min-height:300px;
}
.logoContainer{
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;
    width: 100%;
    min-height: 85px;
    background-color: #785df5;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.logoContainer:hover{
    cursor: pointer;
    background-color:#6850d3;
    transition: all .25s;
}
.logo{
    width: 50%;
}
.middleNav{
    width: 100%;
    height:100%;
    display:flex;
    flex-direction:column-reverse;
    padding-bottom: 5vh;
    align-items: center;
}
.themeContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    width:100%;
}
.theme{
    padding: 2px;
    width: 25px;
    cursor: pointer;
}
.userIconContainer{
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width:100%;
    min-height: 80px;
    aspect-ratio: 1/1;
    margin-top:auto;
    border-bottom-right-radius: 25px;
    box-shadow: 0 -1px 2px #8b8cb1;
}
.userIcon{
    background-color:black;
    border-radius: 50%;
    width: 35px;
    aspect-ratio: 1/1;
}

@media screen and (max-width:800px){
    .navContainer{
        flex-direction: row;
        min-height:70px;
        height:70px;
        width:100%;
        border-radius: 0px;
        overflow: hidden;
        
    }
    .logoContainer{
        width: 6rem;
        min-width: 4rem;
        height: 100%;
        border-top-right-radius: 20px;
        border-bottom-right-radius: 20px;
    }
    .logo{
        width: 35%;
    }
    .middleNav{
        flex-direction: row-reverse;
        padding-bottom: 0;
        min-width:0px;
    }
    .themeContainer{
        flex-direction: row-reverse;
        align-items: center;
    }
    .theme{
        padding:0;
        width: 20px;
        cursor: pointer;
        padding-right: 1rem;
    }
    .userIconContainer{
        flex-direction: row;
        height: 100%;
        border-bottom-right-radius: 0px;
        box-shadow: -1px 0px 1px #8b8cb1;
        min-height: 0px;
        justify-content: center;
        width: 90px;
    }
}
